<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Contact</title>
</head>
<body>
    {% extends "layout.html" %}

    {% block content %}
        <!-- Background Video -->
        <video class="bg-video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="{{ url_for('static', filename='mp4/bg.mp4') }}" type="video/mp4" />
        </video>
        <!-- Masthead -->
        <div class="masthead">
            <div class="masthead-content text-white">
                <div class="container-fluid px-4 px-lg-0">
                    <h1 class="fst-italic lh-1 mb-4">Welcome to App</h1>
                    <p class="mb-5">Please leave your details below</p>
                    
                    <!-- Contacts Count -->
                    <div class="mb-4">
                        <h2>Total Contacts: <span id="contactsCount">{{ contactsCount }}</span></h2>
                    </div>

                    <form id="contactForm" action="/" method="post" role="form">
                        <div class="col-lg-8 col-lg-offset-2">
                            {{ form.hidden_tag() }}
                            <div class="row control-group">
                                <div class="form-group col-sm-0 floating-label-form-group controls">
                                    <label>{{ form.name.label }}</label>
                                    {{ form.name(class_="form-control", id="Name", size=32) }}
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-sm-0 floating-label-form-group controls">
                                    <label>{{ form.email.label }}</label>
                                    {{ form.email(class_="form-control", id="Email", size=32) }}
                                </div>
                            </div>
                            <br>
                            <div class="form-group col-xs-12">
                                {{ form.submit(class_="btn btn-outline-warning pull-right btn-sm") }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script>
        </script>
    {% endblock %}
</body>
</html>



